# Build artifacts
build/
build*.txt
[Rr]elease/
[Bb]in/
[Oo]bj/
[Dd]ebug/
packages/
*.suo
*.tmp
*.csproj.user

# Eclipse
.settings/
target/
bin/

# Gradle
.gradle/


# Binaries
*.class
*.jar
*.war
*.ear
*.db

# Local
assembla*.zip

